@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  position: relative;
  background-color: #eee;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 16px;
  }
}

a {
  color: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
}

.project-description h1 {
  font-size: 1.1rem;
  font-weight: inherit;
}

.project-description h2 {
  font-size: 1rem;
  font-weight: inherit;
}

.smaller {
  font-size: 0.95em;
}

.embedded-video {
  display: block;
  width: 600px;
  height: 338px;
  margin: 0 auto;
}

.embedded-image {
  display: block;
  width: 300px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .embedded-video {
    width: 300px;
    height: 169px;
  }

  .embedded-image {
    width: 150px;
    height: auto;
  }
}